<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myLovelyPey2"
          class="com.example.spring_course.Cat"
          scope="prototype"> <!--Scope prototype means that
every time you ask spring (getBean or dependency injection)
for an instance it will create a new instance and give a reference to that.-->
    </bean>
</beans>